/*html{
	background-image: url(images/background.jpg);
}*/


table, th, td {
	border: 1px solid black;
}

table#personalinfo td {
	width: 350px;
}

table#personalinfo h3 {
	display: inline-block;
	width: 100px;
}

h1, h3 {
	color: blue;
	font-weight: bold;
}

div.centered {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

div.centered p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }

form{
	width:400px; 
	margin-right:auto; 
	margin-left:auto; 
	margin-top: 9em;
	
	/*border:1px solid #000;"         Not really necessary*/
}
legend{
	margin-right:auto; 
	margin-left:auto; 
	font-size: 28;
	color: blue;
}
fieldset{
	margin-right:auto; 
	margin-left:auto; 
}

center{
	font-size: 18;
	font-style: bold;
	
}
button{
	font-size: 18;
	font-style: bold;
}